<div class="tab-content">
    <button mat-raised-button color="primary" class="add-button" (click)="openAddDialog()">+ Adicionar</button>

  <mat-form-field>
    <input matInput type="text" placeholder="Filtrar por nome" [(ngModel)]="filterName" (keyup)="applyFilter()">
  </mat-form-field>
  <table mat-table class="mat-elevation-z8" [dataSource]="organizations">
    <!-- Colunas da tabela -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Nome </th>
      <td mat-cell *matCellDef="let client"> {{ client.name }} </td>
    </ng-container>
    <ng-container matColumnDef="contactName">
      <th mat-header-cell *matHeaderCellDef> Contato </th>
      <td mat-cell *matCellDef="let client"> {{ client.contactName }} </td>
    </ng-container>
    <ng-container matColumnDef="cnpj">
      <th mat-header-cell *matHeaderCellDef> CNPJ </th>
      <td mat-cell *matCellDef="let client"> {{ client.cnpj }} </td>
    </ng-container>
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef> Ações </th>
      <td mat-cell *matCellDef="let client">
        <button mat-icon-button (click)="openEditDialog(client)">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button (click)="deleteClient(client)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
  